<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>This is the First and Second lab work of team №5 ІС-34</h1>
<p>
    <a href="/static">1 Task - Static Page</a>
</p>
<p>
    <a href="/dynamic">2 task - Dynamic Page</a>
</p>
<p>
    <a href="/pictures">3 task - Pictures</a>
</p>
<p>
    <a href="/links">4 task - Links</a>
</p>
<p>
    <a href="https://kpi.ua/about">5 task - External Resources</a>
</p>
</body>
</html>