<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h2>You jumped here via link</h2>
    <p>
        <a href="/">Come back to main page</a>
    </p>
    <img style="text-align: center" src="/images/frog.png" width="500" alt="Kyiv">
</body>
</html>
