<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h2 style="text-align: center">Kyiv</h2>
    <img src="/images/kyiv1.jpg" width="500" alt="Kyiv">
    <img src="/images/kyiv2.jpg" width="500" alt="Kyiv">
    <img src="/images/kyiv3.jpg" width="500" alt="Kyiv">
</body>
</html>
